{% extends '::app.html.twig' %}
{% form_theme edit_form '::form.html.twig' %}


{% block title %}Edition - Intervenant Formation{% endblock %}
{% block titre %}Intervenant - Edition{% endblock %}
{% block controls %}{{form(delete_form)}}{% endblock %}


{% block breadcrumbs %}
<li><a href="{{path('formation')}}">Formations</a></li>
<li><a href="{{path('inscription', {'idformation': idformation})}}">Inscriptions</a></li>
<li><span>Intervenant - Edition</span></li>
{% endblock %}


{% block body -%}
{{form_start(edit_form)}}
<div class="units-row">

	<div class="panel unit-50">
		<div class="header">
			<span class="titre">Intervenant</span>
		</div>

		<div class="panel-body">
			<div class="units-row end">
				<div class="unit-20">{{ form_row(edit_form.civilite) }}</div>
				<div class="unit-80">{{ form_row(edit_form.nom) }}</div>
			</div>
				{{form_row(edit_form.prenom)}}
				{{form_row(edit_form.fonction)}}
				{{form_row(edit_form.tel)}}
				{{form_row(edit_form.mail)}}

		</div>
	</div>

	<div class="unit-50">
	<div class="panel" style="margin-bottom:1.65em">
		<div class="header">
			<span class="titre">Structure</span>
		</div>

		<div class="panel-body">
			{{form_row(edit_form.adresse.nomStructure)}}
			<label> Tags
				{{form_widget(edit_form.adresse.tags)}}
				<div class="forms-desc">Liste de mots clés, séparés par des virgules. Ex : Collectivité territoriale, Association, Société Anonyme, Bourgogne...</div>
			</label>
		</div>
	</div>

	<div class="panel">
		<div class="header">
			<span class="titre">Commentaires/Observations</span>
		</div>

		<div class="panel-body">
			{{form_widget(edit_form.commentaire)}}
		</div>
	</div>

	</div>
</div>


<footer id="footer" class="group">
	<div class="left"><a href="{{ path('inscription', {'idformation': idformation}) }}" class="btn btn-back"><i class="fa fa-chevron-left fa-fw"></i>Retour aux inscriptions</a></div>
	<div class="right">{{form_widget(edit_form.submit)}}</div>
</footer>

{{form_rest(edit_form)}}
{{form_end(edit_form)}}
{% endblock %}
