{% extends '::app.html.twig' %}

{% block title %}Liste des contacts{% endblock %}
{% block titre %}Liste des contacts{% endblock %}

{% block body -%}
  <div class="panel">
  <div class="panel-body">
    <table class="table-stripped">
        <thead>
            <tr>
                <th>Civilité</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Fonction</th>
                <th>Tel</th>
                <th>Fax</th>
                <th>Mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for entity in entities %}
              <tr>
                  <td>{{ entity.civilite }}</td>
                  <td>{{ entity.nom }}</td>
                  <td>{{ entity.prenom }}</td>
                  <td>{{ entity.fonction }}</td>
                  <td>{{ entity.tel }}</td>
                  <td>{{ entity.fax }}</td>
                  <td>{{ entity.mail }}</td>
                  <td>
  						      <a href="{{ path('personne_show', { 'id': entity.id }) }}"><i class="fa fa-info fa-fw"></i></a>
  						      {#<a href="{{ path('personne_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil fa-fw"></i></a>#}
                  </td>
                </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  </div>
{% endblock %}
