<!DOCTYPE html>
<html>
<head>
{% image '../app/Resources/Public/img/flamme.png' %}
	<link rel="shortcut icon" type="image/png" href="{{ asset_url }}" />
{% endimage %}
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>OCIM-Formations | {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- STYLES -->
	{% block stylesheets %}
		{% stylesheets '%kernel.root_dir%/Resources/Public/css/*' filter='cssrewrite' %}
			<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
		{% endstylesheets %}
	{% endblock %}
<link href='http://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic' rel='stylesheet' type='text/css'/>
<style>
	*{font-family: 'Muli', sans-serif;}
	h1,h2,h3,h4,h5,h6{font-family: 'Josefin Sans', sans-serif; font-variant: small-caps}
</style>
</head>
<body>


<header class="group" id="header">
	<div class="left">
		<a href="#" id="nav-toggle"><i class="fa fa-bars fa-2x"></i></a>
		<a href="{{path('home')}}" class="logo">
			{% image '../app/Resources/Public/img/logo-header.png' %}
				<img src="{{ asset_url }}" id="logo" alt="OCIM"/>
			{% endimage %}
		</a>
	</div>
	<div class="right">
		<div id="user" class="">
			<a href="#"><i class="fa fa-user fa-2x"></i><span class="username">{{app.user.prenom |capitalize}} {{app.user.nom |capitalize}}</span> <span class="caret"></span></a>
				<ul>
					<li><a href="{{path('user')}}"><i class="oi" data-glyph="people"></i>Gestion des utilisateurs</a></li>
					<li><a href="{{ path('deconnexion') }}"><i class="oi" data-glyph="power-standby"></i>Deconnexion</a></li>
				</ul>
		</div>
	</div>
	{# NAVIGATION MOBILE #}
	<nav class="navbar navbar-right end">
		<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#sidebar">
			<span>Menu<img src="{{ asset('../app/Resources/Public/img/logo-header.png') }}" class="logo" alt="OCIM"/></span>
		</div>
	</nav>
</header>

<div id="page" class="group">
	<div id="sidebar">
		
		<nav class="nav nav-stacked" data-tools="navigation-fixed">

			<ul>
				<li><a href="{{path('home')}}"><i class="fa fa-tachometer"></i>Tableau de bord</a></li>
				<li><a href="{{path('formation')}}"><i class="fa fa-graduation-cap"></i>Formations</a></li>
				<li><a href="{{path('formule')}}"><i class="fa fa-cutlery"></i>Formules</a></li>
				<li><a href="{{path('logistique')}}"><i class="fa fa-truck"></i>Logistique</a></li>
				<li><a href="{{path('structures')}}"><i class="fa fa-university"></i>Structures</a></li>
				<li><a href="{{path('personne')}}"><i class="fa fa-phone"></i>Contacts</a></li>
				<li><a href="{{path('documents')}}"><i class="fa fa-files-o"></i>Export et Gabarits</a></li>
			</ul>
		</nav> 
	</div>

	<div role="main" class="contentwrapper">
	<div role="main" id="content">
		{% macro message(text, classes) %}
			<div class="tools-message {{ classes|default('') }}">
				{{text}}
			</div>
		{% endmacro %}
		{% macro alert(text, classes) %}
			<div class="tools-alert {{ classes|default('') }}">
				{{text}}
			</div>
		{% endmacro %}
	
		{% if block('titre') %}
			<div id="titre" class="group">
				<div class="left">
					<h2 class="">{% block titre %}{% endblock %}</h2>
					{% if block('breadcrumbs') %}
					<nav class="breadcrumbs">
						<ul>
							<li><a href="{{path('home')}}"><i class="fa fa-home"></i></a></li>
							{% block breadcrumbs %}{% endblock %}
						</ul>
					</nav>
					{% endif %}
				</div>
				<div id="controls" class="group right">{% block controls %}{% endblock %}</div>
			</div>
		{% endif %}
	
	
	{# contenu #}
		{% block body %}
		{% endblock %}
	</div>
	</div>
</div>



<!-- FOOTER -->
<footer id="footer">
</footer>

<!-- SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="Public/js/jquery.js"><\/script>')</script>
{% block javascripts %}
	{% javascripts 
		'../app/Resources/Public/js/kube.min.js'
		'../app/Resources/Public/js/main.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock  %}

</body>
</html>

