{% form_theme form '::form.html.twig' %}

{{form_start(form)}}
<div class='units-row'>
	<div class="unit-50">
		<h2>Convention</h2>
		{{form_row(form.numero)}}
		{{form_row(form.edition)}}
	</div>

	<div class="unit-50">
		<h2>Cycle de vie de la convention</h2>
		<label>
			{{ form.etape1.vars.label }}
			<div class="input-groups">
				<span class="input-prepend">1</span>{{form_widget(form.etape1)}}
			</div>
		</label>
		<label>
			{{ form.etape2.vars.label }}
			<div class="input-groups">
				<span class="input-prepend">2</span>{{form_widget(form.etape2)}}
			</div>
		</label>
		<label>
			{{ form.etape3.vars.label }}
			<div class="input-groups">
				<span class="input-prepend">3</span>{{form_widget(form.etape3)}}
			</div>
		</label>
	</div>
</div>
{{form_end(form)}}
