{% extends '::app.html.twig' %}

{% block controls %}
filtres
{% endblock %}

{% block title %}
Gestion des conventions
{% endblock %}

{% block titre %}
Gestion des conventions
{% endblock %}

{% block body -%}

<div class="panel">
  <div class="panel-body">
    <table class="table-striped">
        <thead>
            <tr>
                <th>Civilité</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Convention</th>
                <th>Numero</th>
                <th>Date d'édition</th>
                <th>Etape 1</th>
                <th>Etape 2</th>
                <th>Etape 3</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{entity.stagiaire.civilite}}</td>
                <td>{{entity.stagiaire.nom}}</td>
                <td>{{entity.stagiaire.prenom}}</td>
                <td>
                  {% if entity.statutConvention is null %}
                    Null
                  {% elseif entity.statutConvention %}
                    Demande Confirmée
                  {% elseif entity.statutConvention == false %}
                    NON
                  {% endif %}
                </td>
                {% if entity.convention %}
                  <td><span style="color: #ccc">{{ entity.convention.edition|date('Y/m') }}</span>/{{ entity.convention.numero }}</td>
                  <td>{{ entity.convention.edition|date('d/m/Y') }}</td>
                  <td>{{ entity.convention.etape1|date('d/m/Y') }}</td>
                  <td>{{ entity.convention.etape2|date('d/m/Y') }}</td>
                  <td>{{ entity.convention.etape3|date('d/m/Y') }}</td>
                {% else %}
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                {% endif %}
                  <td>
                    {% if entity.convention %}
                      <a class="right" href="{{ path('convention_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil fa-fw"></i>Editer</a>
                    {% else %}
                      <a class="right" href="{{ path('convention_new', { 'idinscription': entity.id }) }}"><i class="fa fa-pencil fa-fw"></i>Editer</a>
                    {% endif %}
                  </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
