{% extends "::app.html.twig" %}


{% block stylesheets %}
{{parent()}}
{% stylesheets '@OCIMFormationsBundle/Resources/public/css/accueil.css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
{% endstylesheets %}
{% endblock %}

{% block  javascripts %}
{{parent()}}
{% javascripts
	'@OCIMFormationsBundle/Resources/public/js/Inscription/accueil.js' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}


{# Titres #}
{% block title %}Accueil{% endblock %}
{% block titre %}Bonjour {{app.user.username|capitalize}} !{% endblock %}


{# Controls #}
{% block controls %}
<a href="{{path('user_edit', {'id': app.user.id})}}" class="btn"><i class="fa fa-user fa-fw"></i>Mon compte</a>
{% endblock %}



{% block body  %}
<div class="units-row units-mobile-33" id="indicateurs">
	<div class="unit-20 group">
		<i class="fa fa-graduation-cap fa-3x left"></i>
		<div class="count-container left">
			<p>
				<span class="count">{{countFormations}}</span>
				<span class="nomcount">Formations</span>
				<a href="{{ path('formation') }}"><br/>Voir toutes les formations</a>
			</p>

		</div>
	</div>

	<div class="unit-20 group">
		<i class="fa fa-cutlery fa-3x left"></i>
		<div class="count-container left">
			<p>
				<span class="count">{{countFormules}}</span>
				<span class="nomcount">Formules</span>
				<a href="{{ path('formule') }}"><br/><i class="fa fa-angle-double-right fa-fw"></i>Voir toutes les formules</a>
			</p>
		</div>
	</div>

	<div class="unit-20 group">
		<i class="fa fa-users fa-3x left"></i>
		<div class="count-container left">
			<p>
				<span class="count">{{countInscriptions}}</span>
				<span class="nomcount">Inscriptions</span>
				<a href="{{path('personne')}}"><br/><i class="fa fa-angle-double-right fa-fw"></i>Aller aux contacts</a>
			</p>
		</div>
	</div>

	<div class="unit-20 group">
		<i class="fa fa-briefcase fa-3x left"></i>
		<div class="count-container left">
			<p>
				<span class="count">{{countIntervenant}}</span>
				<span class="nomcount">Intervenants</span>
				<a href="#"><br/><i class="fa fa-plus fa-fw"></i>Entrer un nouvel Intervenant</a>
			</p>
		</div>
	</div>

	<div class="unit-20 group">
		<i class="fa fa-folder-open fa-3x left"></i>
		<div class="count-container left">
			<p>
				<span class="count">{{countConvention}}</span>
				<span class="nomcount">Conventions</span>
				<a href="{{path('convention')}}"><br/><i class="fa fa-angle-double-right fa-fw"></i>Voir les conventions</a>
			</p>
		</div>
	</div>
</div>


<div class="units-row">
	<div class="unit-60 panel" id="formations">
		<div class="header">
			<span class="titre">Formations à venir</span>
				<span class="controls right group">
					<a href="{{ path('formation') }}"><i class="fa fa-angle-double-right"></i> Toutes les formations</a>
				</span>
		</div>

		<div class="panel-body">
			<table class="table-hovered">
				<tbody>
					{% for formation in formations %}
					<tr>
					<td title="{{ (formation.intitule|length >= 55)? formation.intitule }}">{{formation.intitule|slice(0,55)}}{{ (formation.intitule|length >= 55)? "..." }}</td>
					<td>{{ formation.lieu|capitalize}}</td>
					<td>
						<div class="group">
							{% set spanclass = '' %}
							{% set text = '' %}
							{% for statut in formation._count %}
								{% if statut.statut == '2' %}
									{% set spanclass = 'badge-yellow' %}
									{% set text = 'Inscriptions en attente de validation' %}
								{% endif %}
								{% if statut.statut == '1' %}
									{% set spanclass = 'badge-green' %}
									{% set text = 'Inscriptions validées' %}
								{% endif %}
								{% if statut.statut == '3' %}
									{% set spanclass = 'badge-red' %}
									{% set text = "Nombre d'inscriptions annulées" %}
								{% endif %}
								<span title="{{ text }}" class="badge {{ spanclass }}">{{ statut.1 }}</span>
							{% endfor %}
						</div>
					</td>
					<td>
						<span class="group formation-raccourcis right">
							<a title="Inscriptions" href="{{ path('inscription', { 'idformation': formation.id }) }}"><i class="fa fa-users fa-border"></i></a>
							<a title="Détails" href="{{ path('formation_show', { 'id': formation.id }) }}"><i class="fa fa-info fa-border"></i></a>
							<a title="ChampPerso" href="{{path('champPerso_edit', {'idformation': formation.id })}}"><i class="fa fa-table fa-border"></i></a>
							<a title="Configuration" href="{{ path('formation_edit', { 'id': formation.id }) }}"><i class="fa fa-cogs fa-border"></i></a>
						</span>
					</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="unit-40 panel" id="inscriptions">
		<div class="header">
			<span class="titre">10 derniers inscrits</span>
				<span class="controls right group">

				</span>
		</div>

		<div class="panel-body">
			<table class="table-flat table-hovered">
			{% for inscription in inscriptions %}
				<tr data-href="{{ path('inscription', { 'idformation': inscription.formationformule.formation.id, 'id': inscription.id }) }}">
					<td>
						{{inscription.stagiaire.nom}} {{inscription.stagiaire.prenom|capitalize}}
						<span class="formationchoisie hide">
							<i class="fa fa-graduation-cap fa-fw"></i>{{ inscription.formationformule.formation.intitule }}
						</span>
					</td>
					<td style="width: 125px">
						<span class="right color-gray-30">{{inscription.dateInscription|date('d/m/Y H:i')}}</span>
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock  %}
