{% extends '::app.html.twig' %}

{% block title %}
Gabarits
{% endblock %}

{% block titre %}
<span class='oi' data-glyph='file'> Gabarits
{% endblock %}

{% block controls %}
<a href="{{ path('documents_new') }}" class="btn btn-green"><span class='oi' data-glyph="plus"> Nouveau Gabarit</a>
{% endblock %}

{% block body -%}
   

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{# <a href="{{ path('documents_show', { 'id': entity.id }) }}">{{ entity.id }}</a> #}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.type }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
				    <a href="{{ path('documents_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
