{% extends '::app.html.twig' %}
{% form_theme edit_form '::form.html.twig' %}

{% block  javascripts %}
{% javascripts '@OCIMFormationsBundle/Resources/public/js/Logistique/formModele.js'%}
         <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}


{% block body -%}
    <h1>formationFormule edit</h1>
	<a href="#" class="btn btn-big ajoutPrototype" data-prototype='{{form_row(edit_form.modeles.vars.prototype)}}'>Ajouter un modèle</a>

{{form_start(edit_form)}}

	{% for modele in edit_form.modeles %}
	<div>
		<ul class="forms-inline-list">
			<li>{{ form_widget(modele.date) }}</li>
			<li>{{ form_widget(modele.description) }}</li>
			<li>{{ form_widget(modele.typeReponse) }}</li>
			<li></li>
		</ul>
	</div>
	{% endfor %}

	

{{ form_widget(edit_form.submit) }}
{{ form_rest(edit_form)}}
{{ form_end(edit_form)}}

<a href="{{ path('logistique') }}">Retour</a>
{{ form(delete_form) }}

{% endblock %}
