{% extends '::app.html.twig' %}


{% block title %}Logistique des formations{% endblock %}
{% block titre %}Logistique des formations{% endblock %}

{% block body -%}
<div class="panel">
	<div class="header">
		<span class="titre">Liste des questions concernant la logistique</span>
		<span class="controls right group">
			
		</span>
	</div>
	<div class="panel-body">
	
	{% for entity in entities %}
		<div class="accordion" data-tools="accordion">
			<a href="#accordion-{{entity.id}}" class="accordion-title"><span class="oi" data-glyph="book"></span> {{ entity.intitule }}<span class="right">{% if entity.modeles|length > 0 %}<span class="label label-green"><i class="fa fa-truck"></i> Logistique OK</span>{% else %}<span class="label label-red"><i class="fa fa-truck"></i> Non défini{% endif %}</span></a>
			<div id="accordion-{{entity.id}}" class="accordion-panel">
				
				
				{% if entity.modeles|length > 0 %}
					<div class="table-container">
					<table class="table-bordered">
						<tr>
							<th><a href="{{path('logistique_edit', {'idformation':entity.id})}}" class="btn"><i class="fa fa-pencil"></i> Edition</a></th>
							{% for modele in entity.modeles %}
								<th>{{modele.date|date('d/m/Y')}} {{modele.description}}</th>
							{% endfor %}
						</tr>
						
						{% for ff in entity.formationFormule %}
							<tr>
							<th><abbr title="{{ff.formule.tarif}} - {{ff.formule.description|capitalize}}">Formule {{ff.id}}</abbr></th>
							{% for modele in entity.modeles %}
								{% if ff in modele.formationformule %}<td class="text-centered" style="background-color: #f6f6f6"><i class="fa fa-check"></i></td>{% else %}<td></td>{% endif %}
							{% endfor %}
							</tr>
						{% endfor %}
							<tr>
								<th><abbr title="Logistique concerant les intervenants">Intervenants</abbr></th>
								{% for modele in entity.modeles %}
									{% if modele.formation %}<td class="text-centered" style="background-color: #f6f6f6"><i class="fa fa-check"></i></td>{% else %}<td></td>{% endif %}
								{% endfor %}
							</tr>
					</table>
					</div>
				{% else %}
					<p class="lead">Aucun gabarit de logistique n'est encore associé à cette formation ainsi qu'à ses formules.</p>
					<hr/>
					{% if entity.formationFormule|length > 0 %}
						<div class="units-row">
						<div class="unit-70">
							<p>
								La formation est associée à {{entity.formationFormule|length}} formules :
								<ul>
									{% for ff in entity.formationFormule %}
										<li>{{ff.formule.id}} - {{ff.formule.description}} - {{ff.formule.tarif}}{% if ff.formule.tarif|number_format %}€{% endif %}</li>
									{% endfor %}
								</ul>
							</p>
						</div>
						<div class="unit-30">
							<a href="{{path('logistique_edit', {'idformation':entity.id, 'generation': 'generate'})}}" class="btn btn-green"><i class="fa fa-truck"></i> Générer la logistique</a>
						</div>
						</div>
					{% endif %}
				{% endif %}
				
				
			</div>
		</div>
	{% endfor %}
</div>
</div>
{% endblock %}
