{% extends '::app.html.twig' %}


{% block title %}Logistique des formations{% endblock %}
{% block titre %}Logistique des formations{% endblock %}

{% block body -%}

	{% for entity in entities %}
		<div class="accordion" data-tools="accordion">
			<a href="#accordion-{{entity.id}}" class="accordion-title"><span class="oi" data-glyph="book"></span> {{ entity.intitule }}</a>
			<div id="accordion-{{entity.id}}" class="accordion-panel">
				<div class="table-container">
					<table class="table-bordered">
						{% for ff in entity.formationformule %}
							<tr>
								<th class="text-centered"><abbr title="{{ff.formule.description|capitalize}} - {{ff.formule.tarif}}{% if ff.formule.tarif|number_format %}€{% endif %}">Formule {{ff.formule.id}}</abbr></th>
								{% if (entity._logistique == 0) and (loop.index == 1) %}
									<td class="text-centered" rowspan="{{entity.formationformule|length}}">
										<a href="{{path('logistique_edit', {'generation':'generate', 'idformation': entity.id})}}" class="btn btn-big btn-green"><span class="oi" data-glyph="fork"></span> Créer la logistique</a>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
