<ul class="forms-inline-list">
	{{ form_widget(form.ordre) }}
	<li></li>
	<li>{{ form_widget(form.date) }}</li>
	<li>{{ form_widget(form.description) }}</li>
	<li>{{ form_widget(form.typeReponse) }}</li>
	<li>{{ form_widget(form.formationFormule) }}</li>
	<li></li>
</ul>