{% extends '::app.html.twig' %}

{% block body -%}
    <h1>Liste des Formules</h1>

    <table class="table-flat table-striped width-100">
        <thead>
            <tr>
                <th></th>
                <th>Description</th>
                <th>Tarif</th>
                <th>Midi</th>
                <th>Soir</th>
                <th>Nuit</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('formule_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.tarif }}</td>
                <td>{% if entity.midi == 1 %}<span class="oi" data-glyph="check"></span>{% endif %}</td>
                <td>{% if entity.soir == 1 %}<span class="oi" data-glyph="check"></span>{% endif %}</td>
                <td>{% if entity.nuit == 1 %}<span class="oi" data-glyph="check"></span>{% endif %}</td>
                <td>
					<a class="btn btn-small" href="{{ path('formule_edit', { 'id': entity.id }) }}"><span class="oi" data-glyph="pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('formule_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
