{% extends '::app.html.twig' %}

{% block body -%}
    <h1>Formule list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Tarif</th>
                <th>Midi</th>
                <th>Soir</th>
                <th>Nuit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('formule_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.tarif }}</td>
                <td>{{ entity.midi }}</td>
                <td>{{ entity.soir }}</td>
                <td>{{ entity.nuit }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('formule_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('formule_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('formule_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
