{% extends '::app.html.twig' %}
{% form_theme form '::form.html.twig' %}

{% block title %}Nouvelle Formule{% endblock %}
{% block titre %}Création nouvelle formule{% endblock %}

{% block body %}

<form action="{{ path('formule_create') }}" method="post" class="forms units-row" {{ form_enctype(form) }}>
<div class="units-row">
    <div class="unit-100">
	{{ form_row(form.description) }}
	</div>
</div>

<div class="units-row">
    <div class="unit-33">
	{{ form_row(form.tarif) }}
	</div>
	<div class="unit-66">
	<label for="list-logi">La formule inclut :</label>
		<ul class="forms-inline-list" id="list-logi">
			<li>{{ form_widget(form.midi) }}</li>
			<li>{{ form_widget(form.soir) }}</li>
			<li>{{ form_widget(form.nuit) }}</li>
		</ul>
	</div>
</div>


<footer id="footer" class="group">
	<div class="left"><a href="{{ path('formule') }}" class="btn btn-back"><i class="fa fa-chevron-left fa-fw"></i> Retour à la liste</a></div>
	<div class="right">{{form_widget(form.submit)}}</div>
</footer>

{{ form_end(form)}}
{% endblock %}
