{% extends '::app.html.twig' %}

{% block stylesheets %}
{{parent()}}
{% stylesheets 
	'@OCIMFormationsBundle/Resources/public/css/inscriptions.css'
filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
{% endstylesheets %}
{% endblock %}

{% block title %}Inscriptions pour {% endblock %}

{% block body -%}

    <table class="">
        <thead>
            <tr>
				<th></th>
                <th>Inscription le</th>
                <th>Statut</th>
                <th>Attentes</th>
                <th>Statutorgfinanceur</th>
                <th>Statutconvention</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
			{% if entity.personne %}
				<td>{{ entity.personne.nom }}</td>
				<td>{{ entity.personne.prenom }}</td>
				<td>{{ entity.personne.id }}</td>
				<td>{{ entity.personne.nom }}</td>
			{% else %}
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			{% endif %}
                <td>{% if entity.dateInscription %}{{ entity.dateInscription|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.statut }}</td>
                <td>{{ entity.attentes }}</td>
                <td>{{ entity.statutOrgFinanceur }}</td>
                <td>{{ entity.statutConvention }}</td>
                <td>
					<a href="{{ path('inscription_show', { 'id': entity.id }) }}">show</a>
					<a href="{{ path('inscription_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('inscription_new') }}">
				Nouvelle inscription
            </a>
    {% endblock %}
