{% extends '::app.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	{% stylesheets 
		'@OCIMFormationsBundle/Resources/public/css/inscriptions.css'
	filter='cssrewrite' %}
		<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
	{% endstylesheets %}
{% endblock %}

{% block  javascripts %}
{{parent()}}
{% javascripts
	'%kernel.root_dir%/Resources/public/js/jquery-ui.min.js'
	'@OCIMFormationsBundle/Resources/public/js/Inscription/inscription.js'
	'@OCIMFormationsBundle/Resources/public/js/Inscription/showDetailsInscriptions.js'
	'@OCIMFormationsBundle/Resources/public/js/Inscription/reponseslogistique.js' %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{path('formation')}}">Formations</a></li>
<li><span>Inscriptions - {{ formation.intitule }}</span></li>
{% endblock %}


{% block title %}Inscriptions : {{ formation.intitule }}{% endblock %}
{% block titre %}{{ formation.intitule }}{% endblock %}
{% block controls %}<a href="{{ path('inscription_new', { 'idformation': formation.id }) }}" class="btn btn-green"><i class="fa fa-plus"></i> Nouvelle inscription</a>{% endblock %}

{% block body -%}
<div id="lienAjax" class="hide">{{ path('inscription_edit_ordre', {'idformation': formation.id}) }}</div>
{% if entities != null %}

<div class="panel">
	<nav class="nav-tabs" data-tools="tabs" data-equals="true" style="padding-left: 25px;">
		<ul>
			<li class="active"><a href="#general">Informations Générales</a></li>
			<li><a href="#contact">Contacts</a></li>
			<li><a href="#logistique">Logistique</a></li>
			<li><a href="#convention">Convention</a></li>
			<li><a href="#financement">Financement</a></li>
			<li><a href="#attentes">Attentes</a></li>
			<li><a href="#intervenants">Intervenants</a></li>
		</ul>
	</nav>
<div class="panel-body">



{# GENERAL #}
<div id="general" class="tab unit-100">
<div class="table-container">
	<table class="">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>
				<th class="insc info"><span>Formule</span></th>
				<th class="insc info"><span>Fonction</span></th>
				<th class="insc info"><span>Inscription</span></th>
				<th class="insc info"><span>Financement</span></th>
				<th class="insc info"><span>Convention</span></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
						{% if class == "attente" %}<td class="handle"><i class="fa fa-arrows"></i></td>{% else %}<td></td>{% endif %}
						<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
						<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
						<td class="insc info"><span><abbr title="{{ entity.formationFormule.formule }}">{{ entity.formationFormule.formule.id }}</abbr></span></td>
						<td class="insc info"><span>{{ entity.stagiaire.fonction }}</span></td>
						<td class="insc info"><span>{% if entity.dateInscription %}{{ entity.dateInscription|date('d/m/Y') }}{% endif %}</span></td>
						<td class="insc info"><span>{{ entity.statutOrgFinanceur }}</span></td>
						<td class="insc info"><span>{{ entity.statutConvention }}</span></td>
                <td class="insc actions">
					<a href="#" data-tools="dropdown" data-target="#dropdown1-{{loop.index}}"></a>
					<ul id="dropdown1-{{loop.index}}" class="dropdown">
						<li><a href="{{ path('inscription_show', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><i class="fa fa-info"></i> Détails</a></li>
						<li><a href="{{ path('inscription_edit', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><i class="fa fa-pencil"></i> Modifier</a></li>
						<li>
							{% if entity.convention %}
								<a href="{{ path('convention_edit', { 'id': entity.convention.id, 'idformation':formation.id }) }}" class="">
							{% else %}
								<a href="{{ path('convention_new', { 'idinscription': entity.id, 'idformation':formation.id }) }}" class="">
							{% endif %}
								<i class="fa fa-pencil"></i> Convention</a>
						</li>
						<li>
							{% if entity.signataire == null %}
								<a href="{{path('signataire_new', {'idinscription':entity.id, 'idformation': formation.id})}}" class=""><i class="fa fa-plus"></i> Ajouter un signataire</a>
							{% else %}
								<a href="{{path('signataire_edit', {'id': entity.signataire.id, 'idformation': formation.id})}}" class=""><i class="fa fa-pencil"></i> Modifier</a>
							{% endif %}
						</li>
					</ul>
				</td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</div>

{# CONTACT #}
<div id="contact" class="tab unit-100">
<div class="table-container">
	<table class="">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>
				<th class="insc contact"><span>Tel</span></th>
				<th class="insc contact"><span>Fax</span></th>
				<th class="insc contact"><span>Mail</span></th>
				<th class="insc contact"><span>Mail Admin</span></th>
				<th class="insc contact"><span>Structure</span></th>
				<th class="insc contact"><span>Adresse</span></th>
				<th class="insc contact"><span>Complément</span></th>
				<th class="insc contact"><span>C-P</span></th>
				<th class="insc contact"><span>Ville</span></th>
				<th class="insc contact"><span>Pays</span></th>
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
						{% if class == "attente" %}<td class="handle"><i class="fa fa-arrows"></i></td>{% else %}<td></td>{% endif %}
						<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
						<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
						
						<td class="insc contact"><span>{{ entity.stagiaire.tel }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.fax}}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.mail}}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.mailAdmin}}</span></td>
					{% if entity.stagiaire.adresse %}
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.nomStructure }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.adresse }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.adresseComplement }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.CP }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.ville }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.pays }}</span></td>
					{% else %}
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
					{% endif %}
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</div>

{# Logistique #}
<div id="logistique" class="tab unit-100">
	<div class="hide" id="majLogistique">{{path('logistique_reponse')}}</div>
	<div id="message-save" class="tools-message tools-message-green">Enregistré !</div>
	<div id="message-error" class="tools-message tools-message-red">Erreur. <a href="{{ path('inscription', { 'idformation': formation.id }) }}">Recharger la page</a></div>
<div class="table-container">
	<table class="table-bordered">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>
				{% for log in logistique %}
					{% if log.formationformule|length > 0 %}<th>{{log.date|date('d/m')}} {{log.description}}</th>{% endif %}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
						{% if class == "attente" %}<td class="handle"><i class="fa fa-arrows"></i></td>{% else %}<td></td>{% endif %}
						<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
						<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
					
					{% for log in logistique %}
						{% if log.formationformule|length > 0 %}
							{% if entity.formationFormule in log.formationFormule %}
								<td class="logistique" data-type="{{log.typeReponse}}" data-idreponse="{{ (attribute(entity, 'getReponseByModeleId', [log.id]))? attribute(entity, 'getReponseByModeleId', [log.id]).id }}" data-date="{{log.date|date('')}}" data-idmodele="{{log.id}}" data-reponse="{{attribute(entity, 'getReponseByModeleId', [log.id, log.typeReponse]) }}">
									{% if attribute(entity, 'getReponseByModeleId', [log.id]) %}
										{% if log.typeReponse == 'bool' %}
											{% if (attribute(entity, 'getReponseByModeleId', [log.id, log.typeReponse]) == '1') %}
												<i class="fa fa-check"></i>
											{% elseif (attribute(entity, 'getReponseByModeleId', [log.id, log.typeReponse]) == '0') %}
												<i style="color: rgba(255,0,0,0.5)" class="fa fa-times"></i>
											{% endif %}
										{% elseif log.typeReponse == 'text' %}
											{{ (attribute(entity, 'getReponseByModeleId', [log.id, log.typeReponse]))}}
										{% endif %}
									{% endif %}
								</td>
							{% else %}
								<td data-reponse="0" class="undefined"></td>
							{% endif %}
						{% endif %}
					{% endfor %}
            </tr>
        {% endfor %}
        </tbody>
		<tfoot>
			<td></td>
			<td colspan="2">Totaux</td>
			{% for log in logistique %}
				{% if log.formationformule|length > 0 %}
					{% if log.typeReponse == 'bool' %}
						<td>{{ log.nombreReponsesPositives }}</td>
					{% else %}
						<td style="background-color: rgba(125,125,125, 0.2)"></td>
					{% endif %}
				{% endif %}
			{% endfor %}
		</tfoot>
	</table>
</div>
</div>

{# CONVENTION #}
<div id="convention" class="tab unit-100">
<div class="table-container">
	<table class="">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>
				<th class="insc convention"><span>Numéro</span></th>
				<th class="insc convention"><span>Edition</span></th>
				<th class="insc convention"><span><abbr title="Envoi au Président de l'Université en 2 exemplaires">Etape-1</abbr></span></th>
				<th class="insc convention"><span><abbr title="Retour des 2 exemplaires">Etape-2</abbr></span></th>
				<th class="insc convention"><span><abbr title="Envoi à l'Organisme en 2 exemplaires">Etape-3</abbr></span></th>
				<th class="insc convention"><span><abbr title="Retour d'1 exemplaire">Etape-4</abbr></span></th>
				<th class="insc convention"><span><abbr title="Envoi au Président de l'Université d'1 exemplaire">Etape-5</abbr></span></th>
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
						{% if class == "attente" %}<td class="handle"><i class="fa fa-arrows"></i></td>{% else %}<td></td>{% endif %}
						<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
						<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
					{% if entity.convention %}
						<td class="insc convention"><span>{{ entity.convention.numero }}</span></td>
						<td class="insc convention"><span>{{ entity.convention.edition|date('d/m/Y') }}</span></td>
						<td class="insc convention text-centered"><span>{% if entity.convention.envoiPresidentU2ex %}<i class="fa fa-check" title="{{ entity.convention.envoiPresidentU2ex|date('d/m/Y') }}"></i></span>{% endif %}</td>
						<td class="insc convention text-centered"><span>{% if entity.convention.retourPresidentU2ex %}<i class="fa fa-check" title="{{ entity.convention.retourPresidentU2ex|date('d/m/Y') }}"></i></span>{% endif %}</td>
						<td class="insc convention text-centered"><span>{% if entity.convention.envoiOrganisme2ex %}<i class="fa fa-check" title="{{ entity.convention.envoiOrganisme2ex|date('d/m/Y') }}"></i></span>{% endif %}</td>
						<td class="insc convention text-centered"><span>{% if entity.convention.retourOrganisme1ex %}<i class="fa fa-check" title="{{ entity.convention.retourOrganisme1ex|date('d/m/Y') }}"></i></span>{% endif %}</td>
						<td class="insc convention text-centered"><span>{% if entity.convention.envoiPresidentU1ex %}<i class="fa fa-check" title="{{ entity.convention.envoiPresidentU1ex|date('d/m/Y') }}"></i></span>{% endif %}</td>
					{% else %}
						<td class="insc convention text-centered" colspan="7">
							<a href="{{ path('convention_new', { 'idinscription': entity.id, 'idformation':formation.id }) }}" class="btn btn-green"><i class="fa fa-plus"></i> Entrer des informations concernant la convention</a>
						</td>
					{% endif %}
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</div>

{# financement #}
<div id="financement" class="tab unit-100">
<div class="table-container">
	<table class="">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>

				<th class="insc finance">Organisme Financeur</th>
				<th class="insc finance">Nom du Signataire</th>
				<th class="insc finance">Prenom du Signataire</th>
				<th class="insc finance">Fonction du Signataire</th>
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
						{% if class == "attente" %}<td class="handle"><i class="fa fa-arrows"></i></td>{% else %}<td></td>{% endif %}
						<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
						<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
						{% if entity.signataire %}
							<td class="insc finance"><abbr title="{{entity.signataire.adresse.ville}} {{entity.signataire.adresse.CP}} {{entity.signataire.adresse.pays}}">{{entity.signataire.adresse.structure.nom}}</abbr></td>
							<td class="insc finance">{{entity.signataire.nom|capitalize}} ({{entity.signataire.civilite}})</td>
							<td class="insc finance">{{entity.signataire.prenom|capitalize}}</td>
							<td class="insc finance">{{entity.signataire.fonction|capitalize}}</td>
						{% else %}
							<td class="insc finance"></td>
							<td class="insc finance"></td>
							<td class="insc finance"></td>
							<td class="insc finance"></td>
						{% endif %}
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</div>

{# ATTENTES #}
<div id="attentes" class="tab unit-100">
<div class="table-container">
	<table class="">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>
				<th class="insc attentes"><span>Attentes</span></th>
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
				{% if class == "attente" %}<td class="handle"><span class="fa fa-arrows"></span></td>{% else %}<td></td>{% endif %}
				<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
				<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
				<td class="insc attentes"><span>{{ entity.attentes|slice(0, 70)}}{% if entity.attentes|length > 70 %}...{% endif %}</span></td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</div>

<div id="intervenants" class="tab unit-100">
	<div class="group">
		<a href="{{path('intervenants_new', { 'idformation': formation.id }) }}" class='btn btn-small right'><span class="fa fa-plus"></span> Ajouter un intervenant</a>
	</div>
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th>Nom (Civilité)</th>
					<th>Prénom</th>
					<th>Fonction</th>
					<th>Téléphone</th>
					<th>Email</th>
					<th>Structure</th>
					<th>Commentaire</th>
					<th></td>
				</tr>
			</thead>
			<tbody>
				{% for intervenant in formation.intervenants %}
					<tr>
						<td>{{intervenant.nom|capitalize}} ({{intervenant.civilite}})</td>
						<td>{{intervenant.prenom|capitalize}}</td>
						<td>{{intervenant.fonction}}</td>
						<td>{{intervenant.tel}}</td>
						<td>{{intervenant.mail}}</td>
						<td>{{intervenant.adresse.nomStructure}}</td>
						<td>{{intervenant.commentaire}}</td>
						<td>
							<a href="{{path('intervenants_edit', {'id': intervenant.id})}}"><i class="fa fa-pencil"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</div>

{% else %}
	<p class="text-centered"><i class="fa fa-info"></i> Aucune inscription pour le moment...</p>
	<div class="text-centered">
		<a href="{{ path('inscription_new', { 'idformation': formation.id }) }}" class="btn btn-green btn-big"><i class="fa fa-plus"></i> Nouvelle inscription</a>
	</div>
{% endif %}

{% endblock %}