{% extends '::app.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	{% stylesheets 
		'@OCIMFormationsBundle/Resources/public/css/inscriptions.css'
	filter='cssrewrite' %}
		<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
	{% endstylesheets %}
{% endblock %}

{% block  javascripts %}
{{parent()}}
{% javascripts
	'@OCIMFormationsBundle/Resources/public/js/Logistique/jquery-ui-1.9.2.custom.min.js'
	'@OCIMFormationsBundle/Resources/public/js/Inscription/inscription.js' %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}



{% block title %}Inscriptions pour {% endblock %}
{% block titre %}{{ formation.intitule }}{% endblock %}
{% block controls %}<a href="{{ path('inscription_new', { 'idformation': formation.id }) }}" class="btn btn-green"><span class="oi" data-glyph="plus"></span> Nouvelle inscription</a>{% endblock %}

{% block body -%}
<div id="lienAjax" class="hide">{{ path('inscription_edit_ordre', {'idformation': formation.id}) }}</div>
{% if entities != null %}
<nav class="nav-tabs" data-tools="tabs" data-equals="true">
	<ul>
		<li class="active"><a href="#general">Informations Générales</a></li>
		<li><a href="#contact">Contacts</a></li>
		<li><a href="#convention">Conventions</a></li>
		<li><a href="#attentes">Attentes</a></li>
		<li><a href="#intervenants">Intervenants</a></li>
	</ul>
</nav>

{# GENERAL #}
<div id="general" class="tab">
<div class="table-container">
	<table class="">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>
				<th class="insc info"><span>Formule</span></th>
				<th class="insc info"><span>Fonction</span></th>
				<th class="insc info"><span>Inscription</span></th>
				<th class="insc info"><span>Financement</span></th>
				<th class="insc info"><span>Convention</span></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
						{% if class == "attente" %}<td class="handle"><span class="oi" data-glyph="move"></span></td>{% else %}<td></td>{% endif %}
						<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
						<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
						<td class="insc info"><span><abbr title="{{ entity.formationFormule.formule }}">{{ entity.formationFormule.formule.id }}</abbr></span></td>
						<td class="insc info"><span>{{ entity.stagiaire.fonction }}</span></td>
						<td class="insc info"><span>{% if entity.dateInscription %}{{ entity.dateInscription|date('d/m/Y') }}{% endif %}</span></td>
						<td class="insc info"><span>{{ entity.statutOrgFinanceur }}</span></td>
						<td class="insc info"><span>{{ entity.statutConvention }}</span></td>
                <td class="insc actions">
					<a href="#" data-tools="dropdown" data-target="#dropdown1-{{loop.index}}"></a>
					<ul id="dropdown1-{{loop.index}}" class="dropdown">
						<li><a href="{{ path('inscription_show', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><span class="oi" data-glyph="info"></span> Détails</a></li>
						<li><a href="{{ path('inscription_edit', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><span class="oi" data-glyph="pencil"></span> Modifier</a></li>
					</ul>
				</td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</div>

{# CONTACT #}
<div id="contact" class="tab">
<div class="table-container">
	<table class="">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>
				<th class="insc contact"><span>Tel</span></th>
				<th class="insc contact"><span>Fax</span></th>
				<th class="insc contact"><span>Mail</span></th>
				<th class="insc contact"><span>Mail Admin</span></th>
				<th class="insc contact"><span>Structure</span></th>
				<th class="insc contact"><span>Adresse</span></th>
				<th class="insc contact"><span>Complément</span></th>
				<th class="insc contact"><span>C-P</span></th>
				<th class="insc contact"><span>Ville</span></th>
				<th class="insc contact"><span>Pays</span></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
						{% if class == "attente" %}<td class="handle"><span class="oi" data-glyph="move"></span></td>{% else %}<td></td>{% endif %}
						<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
						<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
						
						<td class="insc contact"><span>{{ entity.stagiaire.tel }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.fax}}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.mail}}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.mailAdmin}}</span></td>
					{% if entity.stagiaire.adresse %}
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.nomStructure }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.adresse }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.adresseComplement }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.CP }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.ville }}</span></td>
						<td class="insc contact"><span>{{ entity.stagiaire.adresse.pays }}</span></td>
					{% else %}
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
						<td class="insc contact"><span></span></td>
					{% endif %}
                <td class="insc actions">
					<a href="#" data-tools="dropdown" data-target="#dropdown2-{{loop.index}}"></a>
						<ul id="dropdown2-{{loop.index}}" class="dropdown">
							<li><a href="{{ path('inscription_show', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><span class="oi" data-glyph="info"></span> Détails</a></li>
							<li><a href="{{ path('inscription_edit', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><span class="oi" data-glyph="pencil"></span> Modifier</a></li>
						</ul>
				</td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</div>

{# CONVENTION #}
<div id="convention" class="tab">
<div class="table-container">
	<table class="">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>
				<th class="insc convention"><span>Numéro</span></th>
				<th class="insc convention"><span>Edition</span></th>
				<th class="insc convention"><span><abbr title="Envoi au Président de l'Université en 2 exemplaires">Etape-1</abbr></span></th>
				<th class="insc convention"><span><abbr title="Retour des 2 exemplaires">Etape-2</abbr></span></th>
				<th class="insc convention"><span><abbr title="Envoi à l'Organisme en 2 exemplaires">Etape-3</abbr></span></th>
				<th class="insc convention"><span><abbr title="Retour d'1 exemplaire">Etape-4</abbr></span></th>
				<th class="insc convention"><span><abbr title="Envoi au Président de l'Université d'1 exemplaire">Etape-5</abbr></span></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
						{% if class == "attente" %}<td class="handle"><span class="oi" data-glyph="move"></span></td>{% else %}<td></td>{% endif %}
						<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
						<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
					{% if entity.convention %}
						<td class="insc convention"><span>{{ entity.convention.numero }}</span></td>
						<td class="insc convention"><span>{{ entity.convention.edition|date('d/m/Y') }}</span></td>
						<td class="insc convention"><span>{{ entity.convention.envoiPresidentU2ex|date('d/m/Y') }}</span></td>
						<td class="insc convention"><span>{{ entity.convention.retourPresidentU2ex|date('d/m/Y')}}</span></td>
						<td class="insc convention"><span>{{ entity.convention.envoiOrganisme2ex|date('d/m/Y') }}</span></td>
						<td class="insc convention"><span>{{ entity.convention.retourOrganisme1ex|date('d/m/Y') }}</span></td>
						<td class="insc convention"><span>{{ entity.convention.envoiPresidentU1ex|date('d/m/Y')}}</span></td>
					{% else %}
						<td class="insc convention"><span></span></td>
						<td class="insc convention"><span></span></td>
						<td class="insc convention"><span></span></td>
						<td class="insc convention"><span></span></td>
						<td class="insc convention"><span></span></td>
						<td class="insc convention"><span></span></td>
						<td class="insc convention"><span></span></td>
					{% endif %}
                <td class="insc actions">
						<a href="#" data-tools="dropdown" data-target="#dropdown3-{{loop.index}}"></a>
						<ul id="dropdown3-{{loop.index}}" class="dropdown">
							<li><a href="{{ path('inscription_show', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><span class="oi" data-glyph="info"></span> Détails</a></li>
							<li><a href="{{ path('inscription_edit', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><span class="oi" data-glyph="pencil"></span> Modifier</a></li>
						</ul>
				</td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</div>

{# ATTENTES #}
<div id="attentes" class="tab">
<div class="table-container">
	<table class="">
		<thead>
			<tr>
				<th class="handle"></th>
				<th class="insc info"><span>Nom</span></th>
				<th class="insc info"><span>Prénom</span></th>
				<th class="insc attentes"><span>Attentes</span></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
        {% for entity in entities %}
			{% set class = "" %}
			{% if entity.statut == 'en attente' %}
				{% set class = "attente" %}
			{% elseif entity.statut == 'accepté' %}
				{% set class = "valide" %}
			{% elseif entity.statut == 'annulé' %}
				{% set class = "annule" %}
			{% endif %}
			<tr class="statut {{class}}" data-ordre="{{entity.ordre}}" data-idinscription="{{entity.id}}">
				{% if class == "attente" %}<td class="handle"><span class="oi" data-glyph="move"></span></td>{% else %}<td></td>{% endif %}
				<td class="insc info"><span>{{ entity.stagiaire.nom }} ({{ entity.stagiaire.civilite }})</span></td>
				<td class="insc info"><span>{{ entity.stagiaire.prenom }}</span></td>
				<td class="insc attentes"><span>{{ entity.attentes|slice(0, 70)}}{% if entity.attentes|length > 70 %}...{% endif %}</span></td>
                <td class="insc actions">
					<a href="#" data-tools="dropdown" data-target="#dropdown4-{{loop.index}}"></a>
					<ul id="dropdown4-{{loop.index}}" class="dropdown">
						<li><a href="{{ path('inscription_show', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><span class="oi" data-glyph="info"></span> Détails</a></li>
						<li><a href="{{ path('inscription_edit', { 'id': entity.id, 'idformation':formation.id }) }}" class=""><span class="oi" data-glyph="pencil"></span> Modifier</a></li>
					</ul>
				</td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</div>

<div id="intervenants">
	<div class="group">
		<a href="{{path('intervenants_new', { 'idformation': formation.id }) }}" class='btn btn-small right'><span class="oi" data-glyph="plus"></span> Ajouter un intervenant</a>
	</div>
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th>Nom (Civilité)</th>
					<th>Prénom</th>
					<th>Fonction</th>
					<th>Téléphone</th>
					<th>Email</th>
					<th>Structure</th>
					<th>Commentaire</th>
					<th></td>
				</tr>
			</thead>
			<tbody>
				{% for intervenant in formation.intervenants %}
					<tr>
						<td>{{intervenant.personne.nom|capitalize}} ({{intervenant.personne.civilite}})</td>
						<td>{{intervenant.personne.prenom|capitalize}}</td>
						<td>{{intervenant.personne.fonction}}</td>
						<td>{{intervenant.personne.tel}}</td>
						<td>{{intervenant.personne.mail}}</td>
						<td>{{intervenant.personne.adresse.nomStructure}}</td>
						<td>{{intervenant.commentaire}}</td>
						<td>
							<a href="{{path('intervenants_edit', {'id': intervenant.id})}}"><span class="oi" data-glyph="pencil"></span></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% else %}
	<p class="text-centered"><span class="oi" data-glyph="info"></span> Aucune inscription pour le moment...</p>
	<div class="text-centered">
		<a href="{{ path('inscription_new', { 'idformation': formation.id }) }}" class="btn btn-green btn-big"><span class="oi" data-glyph="plus"></span> Nouvelle inscription</a>
	</div>
{% endif %}

{% endblock %}