{% extends '::app.html.twig' %}
{% form_theme form '::form.html.twig' %}

{% block  javascripts %}
{{parent()}}
{% javascripts
	'@OCIMContactsBundle/Resources/public/js/Structure/ajoutStructure.js' %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}


{# Titres #}
{% block title %}Nouvelle Inscription à la formation{% endblock %}
{% block titre %}Nouvelle Inscription à la formation : {{formation.intitule}}{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('formation_show', { 'id': formation.id }) }}">Formation : {{formation.intitule}}</a></li>
<li><a href="{{ path('inscription', { 'idformation': formation.id }) }}">Inscriptions</a></li>
<li><span>Nouvelle inscription</span></li>
{% endblock %}


{# Controls #}
{% block controls %}
{% endblock %}



{% block body -%}

{{form_start(form)}}
{{ form_errors(form) }}

<h2 class="text-centered"><i class="fa fa-graduation-cap"></i> {{formation.intitule}}</h2><hr/>

<div class="units-row">
	<div class="unit-50 panel">
		<div class="header">
			<span class="titre">Inscription</span>
				<span class="controls right group">
				</span>
		</div>
		
		<div class="panel-body">
			<div class="units-row end">
				<div class="unit-50">{{ form_row(form.dateInscription) }}</div>
				<div class="unit-50">{{ form_row(form.numberStatut) }}</div>
			</div>
			{{ form_row(form.formationformule) }}
		</div>
	</div>
	
	
	<div class="unit-50 panel">
		<div class="header">
			<span class="titre">Attentes du stagiaire</span>
				<span class="controls right group">
				</span>
		</div>
		
		<div class="panel-body">
			{{ form_widget(form.attentes) }}
		</div>
	</div>
	
</div>



<div class="units-row">
	<div class="unit-50 panel">
		<div class="header">
			<span class="titre">Le stagiaire</span>
				<span class="controls right group">
				</span>
		</div>
		
		<div class="panel-body">
			<div class="units-row end">
				<div class="unit-20">
					{{ form_row(form.stagiaire.civilite) }}
				</div>
				<div class="unit-80">
					{{ form_row(form.stagiaire.nom) }}
				</div>
			</div>
			{{ form_row(form.stagiaire.prenom) }}
			{{ form_row(form.stagiaire.fonction) }}
			{{ form_row(form.stagiaire.tel) }}
			{{ form_row(form.stagiaire.fax) }}
			{{ form_row(form.stagiaire.mail) }}
			
		</div>
		

	</div>
	
	<div class="panel unit-50">
		<div class="header">
			<span class="titre">Adresse du stagiaire</span>
				<span class="controls right group">
				
				</span>
		</div>
		
		<div class="panel-body">
			{{ form_row(form.stagiaire.adresse.nomStructure) }}
			{{ form_row(form.stagiaire.adresse.adresse) }}
			{{ form_row(form.stagiaire.adresse.adresseComplement) }}
			{{ form_row(form.stagiaire.adresse.cP) }}
			{{ form_row(form.stagiaire.adresse.ville) }}
			{{ form_row(form.stagiaire.adresse.pays) }}
		</div>
	</div>
</div>

<div class="units-row">
	<div class="panel unit-50">
		<div class="header">
			<span class="titre">Contact Administratif</span>
				<span class="controls right group">
				
				</span>
		</div>
		
		<div class="panel-body">
			<div class="units-row end">
				<div class="unit-20">
					{{ form_row(form.admin.civilite) }}
				</div>
				<div class="unit-80">
					{{ form_row(form.admin.nom) }}
				</div>
			</div>
			{{ form_row(form.admin.prenom) }}
			{{ form_row(form.admin.fonction) }}
			{{ form_row(form.admin.tel) }}
			{{ form_row(form.admin.mail) }}
		
		</div>
	</div>
	
	<div class="panel unit-50">
		<div class="header">
			<span class="titre">Signataire</span>
				<span class="controls right group">
				
				</span>
		</div>
		
		<div class="panel-body">
			<div class="units-row end">
				<div class="unit-20">
					{{ form_row(form.signataire.civilite) }}
				</div>
				<div class="unit-80">
					{{ form_row(form.signataire.nom) }}
				</div>
			</div>
			{{ form_row(form.signataire.prenom) }}
			{{ form_row(form.signataire.fonction) }}
			{{ form_row(form.signataire.mail) }}
			{{ form_row(form.signataire.adresse.adresse) }}
			{{ form_row(form.signataire.adresse.adresseComplement) }}
			{{ form_row(form.signataire.adresse.cP) }}
			{{ form_row(form.signataire.adresse.ville) }}
			{{ form_row(form.signataire.adresse.pays) }}
			{{ form_row(form.signataire.adresse.nomStructure) }}
			<div class="units-row end">
				<div class="unit-70">
					{{ form_row(form.signataire.adresse.type) }}
				</div>
				<div class="unit-30">
					<label for="ajouttypes">&nbsp;
						<a id="ajouttypes" href="#" class="btn btn-smaller" style="display:block" data-url="{{path('structure_ajout')}}"><i class="fa fa-plus"></i> Ajouter un type</a>
					</label>
				</div>
			</div>
			{{ form_row(form.signataire.adresse.tags) }}
		</div>
	</div>
</div>


<div class="group">
	<div class="left"><a href="{{ path('inscription', { 'idformation': formation.id }) }}" class="btn btn-smaller">Retour à la liste</a></div>
	<div class="right">{{ form_widget(form.submit) }}</div>
</div>

{{ form_end(form)}}


{% endblock %}
