{% extends '::app.html.twig' %}


{% block titre %}Inscription - {{entity.stagiaire.civilite|capitalize}} {{entity.stagiaire.prenom|capitalize}} {{entity.stagiaire.nom|capitalize}}{% endblock %}

{% block title %}Inscription - {{entity.stagiaire.civilite}} {{entity.stagiaire.prenom}} {{entity.stagiaire.nom}}{% endblock %}
{% block controls %}{{form(delete_form)}}{% endblock %}

{% block body -%}

{# <div class="units-row panel unit-padding">
	<div class=" unit-10 text-right"><i class="fa fa-quote-left fa-2x"></i></div>
	<div class=" unit-80">
		<p class="lead text-centered">{{ entity.attentes }}</p>
	</div>
	<div class=" unit-10"><i class="fa fa-quote-right fa-2x"></i></div>
</div>

 #}


<div class="units-row">
	<div class="unit-50 panel">
		<div class="header">
			<span class="titre">Inscription</span>
			{% set couleur = "" %}
				{% if entity.statut == 'accepté'%}
					{% set couleur = "label-green" %}
				{% elseif entity.statut == 'annulé'%}
					{% set couleur = "label-red" %}
				{% elseif entity.statut == 'en attente'%}
					{% set couleur = "label-yellow" %}
				{% endif %}
				<span class="controls right group">
					<span class="label {{couleur}}">{{ entity.statut }}</span>
				</span>
		</div>
		
		<div class="panel-body">			
			<p class="text-centered lead"><i class="fa fa-graduation-cap"></i> {{entity.formationformule.formation.intitule}}</p><hr/>
			<table>
				<tr>
					<th><i class="fa fa-calendar"></i> Date d&apos;inscription</th>
					<td>le {{entity.dateInscription|date('d/M/Y')}} à {{entity.dateInscription|date('H:i:s')}}</td>
				</tr>
				
				<tr>
					<th><i class="fa fa-cutlery"></i> Formule d&apos;hébergement</th>
					<td>{{ entity.formationformule.formule.id }} - {{ entity.formationformule.formule.description|capitalize }} ({{entity.formationformule.formule.tarif}} {{ (entity.formationformule.formule.tarif|number_format)? "&euro;" }})</td>

				</tr>
			</table>
		</div>
	</div>
	
	
	<div class="unit-50 panel">
		<div class="header">
			<span class="titre">Attentes du stagiaire</span>
				<span class="controls right group">
				</span>
		</div>
		
		<div class="panel-body">
			<p class="end"><i class="fa fa-quote-left fa-2x" style="color: #f1f1f1"></i> {{ entity.attentes }} <i class="fa fa-quote-right fa-2x" style="color: #f1f1f1"></i></p>
		</div>
	</div>
	
</div>



<div class="units-row">
	<div class="unit-33 panel">
		<div class="header">
			<span class="titre">Le stagiaire</span>
				<span class="controls right group">
				</span>
		</div>
		
		<div class="panel-body">
			<p class="lead text-centered">
				<i class="fa fa-user"></i> <strong>{{entity.stagiaire.civilite}} {{entity.stagiaire.nom}} {{entity.stagiaire.prenom}}</strong>
			</p>
			<p class="text-centered">
				<em>{{entity.stagiaire.fonction}}</em>
			</p>
			<p class="text-centered end">
				<i class="fa fa-phone"></i> {{entity.stagiaire.tel}}
			</p>
			{% if entity.stagiaire.fax %}
			<p class="text-centered end">
				<i class="fa fa-fax"></i> {{entity.stagiaire.fax}}
			</p>
			{% endif %}
			<p class="text-centered end">
				<i class="fa fa-envelope"></i> {{entity.stagiaire.mail}}
			</p>
		</div>
	</div>
	
	<div class="panel unit-33">
		<div class="header">
			<span class="titre">Adresse du stagiaire</span>
				<span class="controls right group">
				
				</span>
		</div>
		
		<div class="panel-body units-row">
			<address>
				<strong>{{entity.stagiaire.adresse.nomStructure}}</strong><br/>
				{{entity.stagiaire.adresse.adresse}}<br/>
				{{entity.stagiaire.adresse.adresseComplement}}<br/>
				{{entity.stagiaire.adresse.cP}} - 
				{{entity.stagiaire.adresse.ville}}<br/>
				{{entity.stagiaire.adresse.pays}}
			</address>
			<a class="btn end width-100" target="_blank" href="https://www.google.fr/maps/place/{{entity.stagiaire.adresse.nomStructure|replace({' ': '+','"':''})}},+{{entity.stagiaire.adresse.adresse|replace({' ': '+','"':''})}},+{{entity.stagiaire.adresse.cP|replace({' ': '+','"':''})}},+{{entity.stagiaire.adresse.ville|replace({' ': '+','"':''})}},+{{entity.stagiaire.adresse.pays|replace({' ': '+','"':''})}}">
				<i class="fa fa-map-marker"></i> Voir sur Google Map
			</a>
		</div>
	</div>
	
	<div class="panel unit-33">
		<div class="header">
			<span class="titre">Contact Administratif</span>
				<span class="controls right group">
				
				</span>
		</div>
		
		<div class="panel-body">
			{% if ((entity.admin.nom)or(entity.admin.prenom)) %}	
			<p class="lead text-centered">
				<i class="fa fa-user"></i> <strong>{{entity.admin.civilite}} {{entity.admin.nom}} {{entity.admin.prenom}}</strong>
			</p>
			{% endif %}
			{% if entity.admin.fonction %}
			<p class="text-centered">
				<em>{{entity.admin.fonction}}</em>
			</p>
			{% endif %}
			{% if entity.admin.tel %}
			<p class="text-centered end">
				<i class="fa fa-phone"></i> {{entity.admin.tel}}
			</p>
			{% endif %}
			{% if entity.admin.mail %}
			<p class="text-centered end">
				<i class="fa fa-envelope"></i> {{entity.admin.mail}}
			</p>
			{% endif %}
		
		</div>
	</div>
</div>

<div class="units-row">
	
	
	<div class="panel unit-33">
		<div class="header">
			<span class="titre">Signataire</span>
				<span class="controls right group">
				
				</span>
		</div>
		
		<div class="panel-body">
			{% if entity.signataire %}
				<p class="text-centered lead">
					<i class="fa fa-user"></i> <strong>{{entity.signataire.civilite}} {{entity.signataire.nom}} {{entity.signataire.prenom}}</strong>
				</p>
				
				<p class="text-centered"><em>{{entity.signataire.fonction}}</em></p>
				<p class="text-centered"><i class="fa fa-envelope"></i> {{entity.signataire.mail}}</p>
			{% endif %}
		</div>
	</div>
	
	<div class="panel unit-33">
		<div class="header">
			<span class="titre">Structure du signataire</span>
				<span class="controls right group">
				
				</span>
		</div>
		
		<div class="panel-body">
		{% if entity.signataire %}
		<span class="label label-outline">{{entity.signataire.adresse.type}}</span>
			<address>
				<strong>{{entity.signataire.adresse.nomStructure}}</strong><br/>
				{{entity.signataire.adresse.adresse}}<br/>
				{% if entity.signataire.adresse.adresseComplement %}{{entity.signataire.adresse.adresseComplement}}<br/>{% endif %}
				{{entity.signataire.adresse.cP}} -
				{{entity.signataire.adresse.ville}}<br/>
				{{entity.signataire.adresse.pays}}
			</address>
			
			
			
			<p> <strong>Tags :</strong> 
				{% for tag in entity.signataire.adresse.tags %}
					<span class="label">{{tag.tag}}</span> &nbsp;
				{% endfor %}
			</p>
			{% endif %}
		</div>
	</div>
	
	<div class="panel unit-33">
		<div class="header">
			<span class="titre">Convention</span>
				<span class="controls right group">
					
				</span>
		</div>
		
		<div class="panel-body group">
			L'inscription bénéficie d&apos;une convention ?
			{% if entity.statutConvention == null %}
				<span class="label label-outline label-blue">Ne sais pas</span>
			{% elseif entity.statutConvention == false %}
				<span class="label label-outline label-red">NON</span>
			{% else %}
				<span class="label label-outline label-green">OUI</span>
			{% endif %}
		</div>
	</div>

</div>


<div class="group">
    <div class="left"><a href="{{ path('inscription', {'idformation':idformation}) }}" class="btn btn-smaller">Retour</a></div>
    <div class="right"><a href="{{ path('inscription_edit', { 'id': entity.id, 'idformation': idformation }) }}" class="btn btn-green">Modifier</a></div>
</div>
{% endblock %}
