{% extends "::app.html.twig" %}

{% block stylesheets %}
{{parent()}}
{% stylesheets 
	'@OCIMFormationsBundle/Resources/public/css/formations.css'
	'@OCIMFormationsBundle/Resources/public/css/jquery.nouislider.css'
filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
{% endstylesheets %}
{% endblock %}

{% block  javascripts %}
{{parent()}}
{% javascripts
	'@OCIMFormationsBundle/Resources/public/js/Formation/jquery.nouislider.min.js'
	'@OCIMFormationsBundle/Resources/public/js/Formation/filtresFormation.js'
	%}
         <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{# Titres #}
{% block title %} Formations{% endblock %}
{% block titre %}Toutes les formations{% endblock %}

{# Controls #}
{% block controls %}
<a href="{{ path('formation_new') }}" class="btn"><span class="oi" data-glyph="plus"></span> Nouvelle formation</a>
{% endblock %}

{# CONTENT #}
{% block body  %}

{# filtres #}

<div class="units-row units-padding end filtres">
<form class="forms" onsubmit="return false">
<div class="unit-10"><p>Filtres:</p></div>

<div class="unit-50">
	{# date #}
	<div id="date">
		<div id="datefilter"></div>
		<div id="event-start" class="left"></div>
		<div id="event-end" class="right"></div>
	</div>
</div>
<div class="unit-40">
	{# select #}
		<select name="select_multi" id="selectfilter" class="width-100">
			<option value="tous" selected>Tous</option>
			{% for type in types %}
			<option value="{{type.id}}">{{type.type}}</option>
			{% endfor %}
		</select>
</div>
</form>
</div>


{# listes formations #}
<table class="table-hovered width-100">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Lieu</th>
                <th>Date</th>
                <th colspan="2"><input type="search" class="width-100" placeholder="Rechercher dans les formations" id="recherche"/></th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr data-idformation="{{formation.id}}" data-typeformation="{{formation.type.id}}" data-debutstamp="{{ formation.dateDebut|date("U") }}" data-finstamp="{{ formation.dateFin|date("U") }}" data-debut="{{ formation.dateDebut|date("d/m/Y") }}" data-fin="{{ formation.dateFin|date("d/m/Y") }}">
                <td>{{ formation.intitule }}</td>
                <td>{{ formation.lieu }}</td>
                <td>{{ formation.dateDebut|date("d/m/Y") }}</td>
                <td>
					<div class="group">
						{% set spanclass = '' %}
						{% set text = '' %}
						{% for statut in formation._count %}
							{% if statut.statut == 'en attente' %}
								{% set spanclass = 'badge-yellow' %}
								{% set text = 'Inscriptions en attente de validation' %}
							{% endif %}
							{% if statut.statut == 'accepté' %}
								{% set spanclass = 'badge-green' %}
								{% set text = 'Inscriptions validées' %}
							{% endif %}
							{% if statut.statut == 'annulé' %}
								{% set spanclass = 'badge-red' %}
								{% set text = "Nombre d'inscriptions annulées" %}
							{% endif %}
							<span title="{{ text }}" class="badge {{ spanclass }}">{{ statut.1 }}</span>
						{% endfor %}
					</div>
				</td>
                <td>
					<div class="">
						<a href="#" class="btn btn-smaller btn-white" data-tools="dropdown" data-target="#dropdown-{{loop.index}}"></a>
						<ul id="dropdown-{{loop.index}}" class="dropdown">
							<li><a href="{{ path('inscription', { 'idformation': formation.id }) }}"><span class="oi" data-glyph="people"></span> Incriptions</a></li>
							<li><a href="{{ path('formation_show', { 'id': formation.id }) }}"><span class="oi" data-glyph="info"></span> Détails</a></li>
							<li><a href=""><span class="oi" data-glyph="calendar"></span> Logistique</a></li>
							<li><a href="{{ path('formation_edit', { 'id': formation.id }) }}"><span class="oi" data-glyph="cog"></span> Configuration</a></li>
						</ul>
					</div>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



