{% extends '::app.html.twig' %}

{% block body %}
    <h1>Liste des formations</h1>
    <table class="table-striped width-100">
        <thead>
            <tr>
                <th></th>
                <th class="width-50">Intitulé</th>
                <th>Lieu</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a class="" href="{{ path('formation_show', { 'id': entity.id }) }}"><span class="oi" data-glyph="info"></span></a></td>
                <td>{{ entity.intitule }}</td>
                <td>{{ entity.lieu }}</td>
                <td>{{ entity.dateText }}</td>
                <td>
					<div class="group">
						<a class="btn btn-small" href="{{ path('formation_edit', { 'id': entity.id }) }}"><span class="oi" data-glyph="pencil"></span></span></a>
						<a class="btn btn-small btn-red"href="{{ path('formation_delete', { 'id': entity.id }) }}"><span class="oi" data-glyph="trash"></span></a>
					</div>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('formation_new') }}" class="btn">
                Nouvelle formation
            </a>

    {% endblock %}
