{% extends '::app.html.twig' %}

{% block stylesheets %}
{{parent()}}
{% stylesheets 
	'@OCIMFormationsBundle/Resources/public/css/formations.css'
filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
{% endstylesheets %}
{% endblock %}

{% block  javascripts %}
{{parent()}}
{% javascripts
	'@OCIMFormationsBundle/Resources/public/js/Formation/jquery.nouislider.min.js'
	"%kernel.root_dir%/Resources/public/js/Chart.min.js"
	%}
         <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>

var couleurs = [];
couleurs['2'] = 	"rgba(255,165,0, 0.3)";
couleurs['1'] = 		"rgba(3, 207, 3,  0.3)";
couleurs['3']	= 		"rgba(255, 54, 0, 0.3)";
couleurs['2hover'] = 	"rgba(255,165,0, 0.5)";
couleurs['1hover'] = 		"rgba(3, 207, 3,  0.5)";
couleurs['3hover']	= 		"rgba(255, 54, 0, 0.5)";
	
	var dataStatus = [
    {% for stat in entity._count %}
		{% set label = "" %}
		{% if stat.statut == "1" %}
			{% set label = "Inscriptions acceptés" %}
		{% elseif stat.statut == "2" %}
			{% set label = "Inscriptions en attentes" %}
		{% else %}
			{% set label = "Inscriptions annulées" %}
		{% endif %}
		{
			value: {{stat.1}},
			color: couleurs['{{stat.statut}}'],
			highlight: couleurs['{{stat.statut}}hover'],
			label: "{{label}}"
		},
	{% endfor %}
	];
	
	
	
	var dataDates = {
    labels: [' {{ inscriptions|keys|join("','")|raw }} '], 
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [{{ inscriptions|join(",") }}],
			
		},
    ]
};
	var canvas1 = $("#statuts-inscriptions").get(0).getContext("2d");
	var ratioInscriptions = new Chart(canvas1).Doughnut(dataStatus, {});
	var canvas2 = $("#dates-inscriptions").get(0).getContext("2d");
	var ratioInscriptions = new Chart(canvas2).Line(dataDates, {
		responsive: true, 
		maintainAspectRatio: false,
		tooltipTemplate: {% verbatim %} "<%if (label){%><%=label%>: <%}%><%= value %> inscriptions" {% endverbatim %},
	});
	
</script>
{% endblock %}


{# Titres #}
{% block title %} Formations{% endblock %}
{% block titre %}Détail de la formation{% endblock %}
{% block breadcrumbs %}
	<li><span>{{entity.intitule}}</span></li>
{% endblock %}

{# Controls #}
{% block controls %}
<a href="{{ path('formation_edit', { 'id': entity.id }) }}" class="btn btn-green btn-outline"><i class="fa fa-pencil"></i></a>
<div style='display:inline-block'>{{ form(delete_form) }}</div>
{% endblock %}

{# CONTENT #}
{% block body -%}

<div class="units-row">
	
	<div class="unit-60 panel">
		<div class="header">
			<span class="titre">Progression des inscriptions</span>
			<span class="controls right group">
				
			</span>
		</div>
		<div class="panel-body">
			<canvas id="dates-inscriptions" height="350"></canvas>
		</div>
	</div>
	
	<div class="unit-40 panel">
		<div class="header">
			<span class="titre">Statuts des inscriptions</span>
			<span class="controls right group">
				
			</span>
		</div>
		<div class="panel-body">
			<canvas id="statuts-inscriptions" height="400"></canvas>
		</div>
	</div>
	
</div>


<div class="units-row">
	<div class="unit-60 panel">
		<div class="header">
			<span class="titre">Information sur la formation</span>
				<span class="controls right group">
					
				</span>
		</div>
		
		<div class="panel-body">
			<table class="width-100 ">
			<tr>
				<th><i class="fa fa-graduation-cap"></i> Intitulé</th>
				<td>{{ entity.intitule }}</td>
			</tr>
			<tr>
				<th><i class="fa fa-cube"></i> Type</th>
				<td>{{ entity.type }}</td>
			</tr>
			<tr>
				<th><i class="fa fa-map-marker"></i> Lieu</th>
				<td>{{ entity.lieu }}</td>
			</tr>
			<tr>
				<th><i class='fa fa-calendar'></i> Date</th>
				<td>{{entity.dateText}}</td>
			</tr>
			<tr>
				<th><i class='fa fa-calendar'></i> Date de début</th>
				<td>{{ entity.dateDebut|date('d/m/Y') }}</td>
			</tr>
			<tr>
				<th><i class='fa fa-calendar'></i> Date de fin</th>
				<td>{{ entity.dateFin|date('d/m/Y') }}</td>
			</tr>
			<tr>
				<th><i class="fa fa-tachometer"></i> Nombre d&apos;heures</th>
				<td>{{ entity.nbHeures }}</td>
			</tr>
			</table>
		</div>
	</div>
	
	<div class="unit-40">
	<div class="panel">
		<div class="header">
			<span class="titre">Formules liées</span>
				<span class="controls right group">
					
				</span>
		</div>
		<div class="panel-body">
				{% for formule in formules %}
						<div data-tools="accordion">
							<a href="#panel-{{ formule.id }}" class="accordion-title">{{ formule.description }}</a>
							<div id="panel-{{ formule.id }}" class="accordion-panel">
								
								<ul class="blocks-4 details-formules" >
									<li><i class="fa fa-eur fa-2x"></i>{{ formule.tarif}}</li>

									{% if formule.midi %}
										<li><i class="fa fa-cutlery fa-2x"></i>Midi</li>
									{% else %}
										<li class="noncompris"><del><i class="fa fa-cutlery fa-2x"></i>Midi</del></li>
									{% endif%}
									{% if formule.soir %}
										<li><i class="fa fa-cutlery fa-2x"></i>Soir</li>
									{% else %}
										<li class="noncompris"><del><i class="fa fa-cutlery fa-2x"></i>Soir</del></li>
									{% endif%}

									{% if formule.nuit %}
										<li><i class="fa fa-moon-o fa-2x"></i>Nuit</li>
									{% else %}
										<li class="noncompris"><del><i class="fa fa-moon-o fa-2x"></i>Nuit</del></li>
									{% endif%}
								</ul>
								<span class="btn-group width-100 text-centered">
									<a href="{{path('formule_edit', {'id': formule.id})}}" class="btn btn-blue btn-small"><i class="fa fa-pencil"></i> Modifier la formule</a>
									<a href="" class="btn btn-red btn-small"><i class="fa fa-times"></i></a>
								</span>
							</div>
						</div>
							
				{% endfor %}
			<br/>
			<a href="" class="btn width-100"><i class="fa fa-plus"></i> Ajouter une formule</a>
		</div>
	</div>
	
	<p class="text-centered" style="margin-top: 70px;">
		<a href="{{path('inscription', {'idformation': entity.id})}}" class="btn btn-green btn-big"><i class="fa fa-users"></i> Consulter les inscriptions à cette formation</a>
	</p>
	</div>
</div>

<hr/>
<div class="group">
	<div class="left">
		<a href="{{ path('formation') }}" class="btn">Retour à la liste</a>
	</div>
	<div class="right">
		<a href="{{ path('formation_edit', { 'id': entity.id }) }}" class="btn">Modifier</a>
		<div style='display:inline-block'>{{ form(delete_form) }}</div>
	</div>
</div>
{% endblock %}
